body.sb-show-main {
  overflow-y: auto !important;
}

body #docs-root > div > div {
  max-width: 90vw !important;
}

body .propTable .ant-tabs-tabpane {
  padding: 0 10px;
  padding-bottom: 5px;
}
body .propTable .ant-table-content {
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 1px, rgba(217, 217, 217, 0.965) 0px 0px 0px 1px;
  border-radius: 4px;
}
body .propTable table tr td:nth-child(1) {
  font-size: 16px;
}
body .propTable table tr td .propDef {
  font-size: 13px;
  color: #aaa;
}